@import "../../utils/variables.scss";

.gig-page {
    padding: 32px 24px;
    color: $color-dark;

    .main {
        width: 60%;
        .breadcrumb {
            a {
                cursor: pointer;
                color: $color-blue;
            }

            i {
                font-size: 10px;
                margin-top: 4px;
                color: $color-grey-2;
            }
        }

        .gig-details {
            .title {
                margin-bottom: 16px;

                h2 {
                    font-size: 28px;
                    line-height: 130%;
                    font-weight: 700;
                }
            }

            .preview {
                margin-top: 24px;
                margin-bottom: 64px;
                background: $color-grey;
                cursor: pointer;
                scale: 1;
                overflow: hidden;

                &:hover {
                    border-left: none;
                    border-right: none;

                    img {
                        scale: 1.03;
                    }
                }

                img {
                    padding: 0 8px;
                    height: 100%;
                    width: 100%;
                    min-width: 140px;
                    min-height: 140px;
                    object-fit: cover;
                    transition: all 0.2s ease-in-out;
                }
            }

            .gig-desc {
                padding: 0 10px;
                margin-bottom: 48px;
            }

            .gig-seller-bottom {
                padding: 0 10px;

                h3 {
                    font-weight: 700;
                }

                .basic-btn {
                    margin-top: 24px;
                    border: 1px solid $color-dark;

                    &:hover {
                        color: #fff;
                        background: $color-dark;
                    }
                }
            }

            .faq {
                margin: 48px 0;

                h3 {
                    margin-bottom: 24px;
                }

                .ant-collapse {
                    background: transparent;
                    border: none;
                    font-size: 17px;

                    .ant-collapse-item {
                        border-bottom: none;
                        .ant-collapse-header {
                            padding: 12px 16px 12px 0;
                            .ant-collapse-expand-icon {
                                order: 2;

                                svg {
                                    rotate: 90deg;
                                }
                            }

                            .ant-collapse-header-text {
                                font-weight: 600;
                            }
                        }

                        .ant-collapse-content {
                            border-top: none;

                            .ant-collapse-content-box {
                                padding: 16px 16px 16px 0;
                            }
                        }

                        &.ant-collapse-item-active {
                            .ant-collapse-expand-icon {
                                svg {
                                    transform: rotate(-180deg) !important;
                                }
                            }
                        }
                    }
                }
            }

            .comments {
                padding: 24px 0;
                border-top: 1px solid #d9d9d9;
                margin-bottom: 64px;

                .commenter-info {
                    .commenter-avatar {
                        img {
                            width: 50px;
                            border-radius: 50%;
                            margin-right: 15px;
                        }
                    }

                    .placeholder-avatar {
                        margin-right: 15px;
                        width: 50px;
                        height: 50px;
                    }

                    h3 {
                        font-weight: 700;
                    }

                    .anticon.anticon-star {
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                .comment-details {
                    margin-top: 15px;
                    padding-left: 65px;

                    .comment-date {
                        span {
                            font-size: 12px;
                            color: $color-grey-3;
                            font-style: italic;
                        }
                    }
                }
            }

            .comments-input {
                .placeholder-avatar {
                    height: 50px;
                    width: 50px;
                }

                .text-field {
                    .basic-btn {
                        margin-top: 24px;
                        background: $color-blue;
                        color: #fff;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            opacity: 0.85;
                        }
                    }

                    .ant-rate {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    .gig-seller {
        .seller-avatar {
            margin-right: 24px;
            img {
                max-height: 70px;
                border-radius: 50%;
            }
        }
        .seller-details {
            h4 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .rating {
                .separator {
                    border-left: 1px solid $color-grey-3;
                    margin: 2px 0;
                }

                a {
                    cursor: pointer;

                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .side-bar {
        max-width: 35%;
        .ant-tabs {
            border: 1px solid #dadbdd;
            .ant-tabs-nav {
                .ant-tabs-nav-wrap {
                    .ant-tabs-tab {
                        .ant-tabs-tab-btn {
                            color: $color-grey-2;
                            font-size: 18px;
                            font-weight: 600;

                            &[aria-selected="true"] {
                                color: $color-dark-2;
                            }
                        }
                    }

                    .ant-tabs-ink-bar {
                        background: $color-dark-2;
                    }
                }
            }

            .ant-tabs-content-holder {
                .ant-tabs-content {
                    .package-details {
                        padding: 24px 24px;
                        color: $color-grey-2;
                        font-weight: 600;
                        font-size: 1rem;

                        div:first-of-type {
                            font-size: 20px;
                            margin-bottom: 24px;
                            color: $color-dark-2;
                            font-weight: 700;
                        }

                        div:nth-of-type(2) {
                            margin-bottom: 24px;
                        }

                        div:nth-of-type(3) {
                            margin-bottom: 24px;

                            i {
                                margin-right: 8px;
                            }

                            span {
                                margin-right: 16px;
                            }
                        }

                        button {
                            position: relative;
                            padding: 8px 0;
                            background: $color-dark-2;
                            color: #fff;
                            border-radius: 4px;
                            margin-bottom: 12px;

                            i {
                                position: absolute;
                                top: 50%;
                                right: 12px;
                                transform: translateY(-50%);
                            }

                            &:hover {
                                opacity: 0.85;
                            }
                        }
                    }
                }
            }
        }

        .contact-btn {
            padding: 24px;
            background: #fafafa;
            margin: 24px 0;
            position: relative;

            button {
                padding: 8px 0;
                border: 1px solid $color-dark;
                border-radius: 4px;
                font-weight: 600;

                i {
                    font-size: 12px;
                    margin-top: 3px;
                    margin-left: 6px;
                    // transition: all 0.2s ease-in-out;
                }

                &:hover {
                    background: $color-grey-3;
                    color: #fff;
                    border-color: $color-grey-3;
                }
            }

            .contact-content {
                position: absolute;
                top: -200%;
                left: 0;
                right: 0;
                z-index: 9999;
                background: #fff;
                border: 1px solid #e4e5e7;
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                margin: 0 24px;
                padding: 12px 12px 8px;
                display: none;
                color: $color-dark-2;
                font-weight: 700;
                cursor: pointer;

                h3 {
                    margin-bottom: 24px;
                }

                .contact-icon {
                    height: 42px;
                    width: 42px;
                    background: #efeff0;
                    border-radius: 50%;

                    i {
                        font-size: 18px;
                    }
                }

                .contact-item {
                    margin-left: -12px;
                    margin-right: -12px;

                    &:hover {
                        background: #f5f5f5;
                    }
                }
            }

            &.expanded {
                button {
                    i {
                        transform: rotate(-180deg);
                    }
                }

                .contact-content {
                    display: block;
                }
            }
        }

        .highly-responsive {
            padding: 12px 24px;
            border: 1px solid $color-grey-3;

            i {
                font-size: 24px;
                margin-right: 24px;
            }

            span:first-of-type {
                font-weight: 600;
            }
        }
    }
}

.gig-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
}

.placeholder-avatar {
    border-radius: 50%;
    background: url(../../assets/default-avatar.png);
    background-position: center;
    background-size: cover;
}