$primary-color: #1dbf73;
$primary-color-dark: #19a463;
$color-dark: #404145;
$color-dark-2: #222325;
$color-grey: #f5f5f5;
$color-grey-2: #74767e;
$color-grey-3: #95979d;
$color-grey-dark: #b5b6ba;
$color-green-light: #F1FDF7;
$color-green-dark: #003912;
$color-blue-dark: #0D084D;
$color-blue: #446ee7;
$color-blue-2: #00698c;
$color-pink: #FF79B7;
$color-orange: #f97316;
$color-red: #dc2626;
$border-style: 1px solid rgba(116, 118, 126, 0.4);